OPENAI_API_KEY="<your_openai_api_key>"
# provide aws creds or provide them in your environment another way
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""

# If set, you can use Grok
XAI_API_KEY=""
DD_API_KEY="optional datadog api key for traces"
